[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=DestktopTelematico
Exec=/opt/DesktopTelematico.sh
StartupNotify=true
Categories=Office

Terminal=true
Icon=/opt/desktoptelematico.png
